<div class="row-fluid">
  <div class="span6">
  <h1 class="text-center" style='color: #DA70D6'><%= current_user.name || current_user.email %></h1>
    <%= render 'tickets', tickets: @tickets_my%>
  </div>
  <div class="span6">
  <h1 class="text-center" style='color: #8470FF'><%= @not_me.name || @not_me.email%></h1>
    <%= render 'tickets', tickets: @tickets_not_my%>
  </div>
</div>


